.dietsTypes{
    display:flex;
    flex-direction: column;
   background-color: transparent;
    margin: 100px 0px 40px 5px;
    background-image: url('https://i.pinimg.com/originals/c6/ff/a1/c6ffa169d2662d5836309bbf8112f2ba.gif');
    background-size: 150%;
    background-repeat: no-repeat;
    
}

.diet{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #0a0a0c;
    opacity: 0.9;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-shadow: 0 8px 10px #231e23, 1px -2px 1px #231e23;
    color: #f6e5e9;
    font-size: 25px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    color: #f6e5e9; 
    border-radius: 25px;
    border:solid rgba(28, 245, 9, 0.2);
    box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.5);
    padding: 0px 5px 20px 5px;
    margin-bottom: 15px;



}

